#signUpText {
    display: inline-block;
    font-family: NotoSans-Regular;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.text-green {
    color: #3ac70f;
}

.bottom-margin {
    margin-bottom: 4%;
}

hr {
    background-color: #a92121;
    height: 5px;
    width: 40%;
    margin: 5px 0 10px;
}

/* Add this to the existing styles.css file or update it */

#signupbtn {
    width: 66%;
    height: 46px;
    border-radius: 30px;
}

.signup-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .signup-form label span {
    color: red;
    margin-left: 5px;
  }
  
  .red-button {
    background-color: #9d1e1e;
    color: white;
    font-weight: bold;
    /* Add more styles as needed */
  }

  .signup-form input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
    width: 66%;
    box-sizing: border-box;
    outline: none;
  }
  
  .password-input-container {
    position: relative;
  }
  
  .password-input-container input {
    padding-right: 30px;
  }
  
  .password-input-container button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #3498db;
  }
  