
  <div class="heading">
    <div class="row" id="signUpText">
      Verify account
    </div>
    <div class="d-flex bottom-margin">
      <hr id="redHr">
    </div>
  </div>
  <div>
    <h2>OTP Verification</h2>
    <p>Enter the OTP sent to {{ email }}</p>
    
    <div class="otp-input-container">
      <div class="otp-box" *ngFor="let digit of otp; let i = index">
        <input type="text" [(ngModel)]="otp[i]" maxlength="1" (input)="focusNext(i)" />
      </div>
    </div>
  
    <p class="otp-description">You will receive an OTP on your registered email address.</p>
  
    <div class="checkbox-container">
      <input type="checkbox" id="agreeCheckbox" />
      <label for="agreeCheckbox">By continuing, you agree to accept our Privacy Policy & Terms of Service</label>
    </div>
  
    <hr style="margin-left: -9%;
    width: 53%;"/>
  
    <button class="verify-btn" (click)="verifyOtp()" aria-disabled="true" disabled>Verify and Login</button>
  
    <p class="resend-otp">Didn't receive OTP? <a href="#">Resend OTP</a></p>
  </div>
  
